html {
  font-family: sans-serif;
}

h2.ml_subtitle {
  color: gray;
  font-size: 120%;
}

#ml_input {
  float: left;
  width: 25%;
  margin-left: 0.5%;
}
#ml_output {
  float: left;
  width: 27%;
  margin-right: 3%;
}
#ml_figures {
  float: left;
  width: 44%;
}

form {
  display: none;
}

form label.ml_field-title {
  display: inline;
}

.ml_imageInputWrapper{ 
  display: block;
}

.ml_search_icon{
  width: 14px;
  height: 14px;
}

input.ml_atomList { 
  margin-bottom:5px;
  margin-right:5px;
  display: block;
}

.ml_setup {
  display: none;
}

input.ml_setup { 
  margin-bottom:5px;
  margin-right:5px;
  display: block;
}

.ml_result {
  width: 100%;
  margin-bottom: 5px;
}

#crystal_template {
  width: 90%;
  height: 90%;
  max-width: 300px;
  max-height: 300px;
}

/*
.crystal {
  float: left;
}
*/
tr:nth-child(even) .ml_crystal {
    background-color: #EEEEEE;
}
tr:nth-child(odd) .ml_crystal {
    background-color: #DDDDDD;
}
tr:nth-child(even) .ml_energy {
    background-color: #EEEEEE;
}
tr:nth-child(odd) .ml_energy {
    background-color: #DDDDDD;
}
table.ml {
  width: 100%;
}
