<!DOCTYPE HTML>
<!-- favicon img file -->
<link rel="shortcut icon" href="static/img/glass.png">
<!-- css file -->
<link rel="stylesheet" 
      href="static/css/mlstyle.css" 
      charset="utf-8">
<!-- jquery file -->
<script type='text/javascript' src="static/js/jquery-1.11.3.js">
</script>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.css"
    rel="stylesheet" type="text/css"
>
<script 
    src="http://cdn.pydata.org/bokeh/release/bokeh-0.9.0.min.js"
></script>
<!--
<link 
      type="text/css" 
      rel="stylesheet" 
      href='http://cdn.pydata.org/bokeh-0.10.0.min.css' 
/>
<script type="text/javascript" src='http://cdn.pydata.org/bokeh-0.10.0.min.js'>
</script>
-->
<html>
  <meta charset="utf-8">
  <html lang="en">
  <title>QM Server</title>
  <body>
    <h1>Quantum Machine: Elpasolite Crystal Energy Predictions</h1>

    <!-- input panel -->
    <div id="ml_input" class="ml_panel">
      <h2 class="ml_subtitle">Input panel</h2>
      <!-- First objective  -->
      <div class="ml_container">
        <h2 class="ml_title">Single Prediction</h2>
        <form id="ml_single" action="." method="POST">
          <label for="crystal" class="ml_field-title"> 
            Crystal component: 
          </label>
          <input id="crystal" type="text" 
           placeholder="Al Na K F"
           name="crystal" class="ml_atomList">
          <input id="ml_btn" type="submit" name="form" value="Submit">
        </form>
      </div>
  
      <!-- Second objective  -->
      <div class="ml_container">
        <h2 class="ml_title">Group Prediction</h2>
        <form id="ml_group" action="." method="POST">
          <label class="ml_field-title" for="a1"> 
            Elements in first position: 
          </label>
          <input id="a1" type="text" 
           placeholder="Al"
           name="a1" class="ml_atomList">
          <label class="ml_field-title" for="a2"> 
            Elements in second position: 
          </label>
          <input id="a2" type="text" 
           placeholder="Na"
           name="a2" class="ml_atomList">
          <label class="ml_field-title" for="a3"> 
            Elements in third position: 
          </label>
          <input id="a3" type="text" 
           placeholder="K"
           name="a3" class="ml_atomList">
          <label class="ml_field-title" for="a4"> 
            Elements in forth position: 
          </label>
          <input id="a4" type="text" 
           placeholder="F"
           name="a4" class="ml_atomList">
          <input id="ml_btn" type="submit" name="form" value="Submit">
        </form>
      </div>
  
      <!-- Third objective  -->
      <div class="ml_container">
        <h2 class="ml_title">Crystal Design</h2>
        <form id="ml_optimizer" action="." method="POST">
          <label class="ml_field-title" for="oa1"> 
            Elements in first position: 
          </label>
          <input id="oa1" type="text" 
           placeholder="Al"
           name="a1" class="ml_atomList">
          <label class="ml_field-title" for="oa2"> 
            Elements in second position: 
          </label>
          <input id="oa2" type="text" 
           placeholder="Na"
           name="a2" class="ml_atomList">
          <label class="ml_field-title" for="oa3"> 
            Elements in third position: 
          </label>
          <input id="oa3" type="text" 
           placeholder="K"
           name="a3" class="ml_atomList">
          <label class="ml_field-title" for="oa4"> 
            Elements in forth position: 
          </label>
          <input id="oa4" type="text" 
           placeholder="F"
           name="a4" class="ml_atomList">
          <label class="ml_field-title" for="ml_target"> 
             Target formation energy: 
          </label>
          <input id="ml_target" type="text" 
           value="-3"
           name="target" class="ml_setup">
          <label for="ml_step" class="ml_field-title">
            Iteration steps:
          </label>
          <input id="ml_step" type="text" 
           value="40"
           name="ml_step" class="ml_setup">
          <label for="ml_pop" class="ml_field-title">
            Population size:
          </label>
          <input id="ml_pop" type="text" 
           value="20"
           name="ml_pop" class="ml_setup">
          <input id="ml_btn" type="submit" name="form" value="Submit">
        </form>
      </div>
    </div>
    <!-- end of input panel -->

    {% if result %}
      <!-- output panel, only activated with result-->
      <div id="ml_output" class="ml_panel">
        <h2 class="ml_subtitle">Output result</h2>
  
        {% if result[0][1] %}
          <div class="ml_result">{{entry}}
            <table class="ml">
            <tr>
            <td style="background-color: white">
              Crystal string
            </td>
            <td style="background-color: white">
              Formation energy [eV/atom]
            </td>
            </tr>
            {% for entry in result %}
              <tr>
                <td class="ml_crystal" 
                    id="ml_entry">{{entry[0]}}</td>
                <td class="ml_energy" 
                    id="ml_entry">{{entry[1]}}</td>
              </tr>
            {% endfor %}
            </table>
          </div>
        {% else %}
          <div class="ml_result" 
               style="white-space: pre-wrap">
            {{result[0][0]}}
          </div>
        {% endif %}
  
      </div>
      <!-- end of output panel -->

      <!-- dynamic figures for optimizer -->
      {% if mode == 2 %}
        <div id="ml_figures" class="ml_panel">
          <h2 class="ml_subtitle">Optimization progress</h2>
          <!-- full bokeh html -->
          {% include 'ajax_plot.html' %}
        </div>
      {% else %}
        <div id="ml_figures" class="ml_panel">
          <h2 class="ml_subtitle">Crystal string: Al-Na-K-F</h2>
          <a href="http://arxiv.org/abs/1508.05315"><img src="static/img/crystal.jpg" id="crystal_template"></a>
        </div>
      {% endif %}
    {% else %}
      <div id="ml_output" class="ml_panel">
        <h2 class="ml_subtitle">Crystal structure</h2>
        <a href="http://arxiv.org/abs/1508.05315"><img src="static/img/crystal.jpg" id="crystal_template"></a>
      </div>
    {% endif %}

  <body>

  <script type='text/javascript'>
    /* inline figure wrapper */
    /*
    $(document).ready(function() {
      $(".search_icon").each(function(){
        $(this).add($(this).prev())
          .wrapAll('<div class="ml_imageInputWrapper"></div>');
      }); 
    });
    */
    /* show/hide focus function, takes flask 'mode' variable */
    var mode = {{ mode }};
    $(document).ready(function () {
      if(mode == 1){
        $("#ml_group").show();
      }else if(mode ==2){
        $("#ml_optimizer").show();
      }else{
        $("#ml_single").show();
      };
    });
    $(document).ready(function() { // onclick response
      $(".ml_container").click(function(e) {
        if($(e.target).is('h2')){
          $(this).siblings('div').children("form").hide(200);
          $(this).children("form").show(200);
        }
      });
    });
  </script>

  <script type="text/javascript" src="static/js/elementpicker.js">
  </script>
  <link rel="stylesheet" href="static/css/elementpicker.css" 
      charset="utf-8">
  <script type="text/javascript">
    new elementpicker('crystal');
    new elementpicker('a1');
    new elementpicker('a2');
    new elementpicker('a3');
    new elementpicker('a4');
    new elementpicker('oa1');
    new elementpicker('oa2');
    new elementpicker('oa3');
    new elementpicker('oa4');
  </script>

</html>
